<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593068032217-034q1naguonvqvkog2afmc6s6ml9jmpg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593068032217-034q1naguonvqvkog2afmc6s6ml9jmpg</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ4anQnItpNUtXpw7X7t5c7fJuzouJVMo</string>
	<key>GCM_SENDER_ID</key>
	<string>593068032217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scholarChat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-267bb</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-267bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593068032217:ios:e7f4c7ba456f956520fec8</string>
</dict>
</plist>